.main-contact {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}
.container-contact {
    /* grid-column: 2;
    grid-row: 1; */
    margin-top: 1em;;
    margin-left: 0.5em;
    margin-right: 1em;
    width: 30vw;
    border: 1px solid #a8a8a8;
    /* align-self: center;
    justify-content: flex-start; */
}
.content-contact {
    flex: 1;
    margin: 1em;
}
.contact-form {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-left: 0.5em;
    margin-right: 1em;
}
.error {
    border-color: red;
}
.error-message {
    color: red;
    margin-bottom: 0.1em;
    width: 100%;
}
.name-form-desc {
    grid-column: 1;
    grid-row: 1;
    margin-top: 1em;
    margin-bottom: 1em;
}
.name-form-field {
    grid-column: 2;
    grid-row: 1;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: left;
}
.email-form-desc {
    grid-column: 1;
    grid-row: 3;
    margin-bottom: 1em;
}
.email-form-field {
    grid-column: 2;
    grid-row: 3;
    margin-bottom: 1em;
    text-align: left;
}
.subject-form-desc {
    grid-column: 1;
    grid-row: 4;
    margin-bottom: 1em;
}
.subject-form-field {
    grid-column: 2;
    grid-row: 4;
    margin-bottom: 1em;
    text-align: left;
}
.message-form-desc {
    grid-column: 1;
    grid-row: 5;
    margin-bottom: 1em;
}
.message-form-field {
    grid-column: 2;
    grid-row: 5;
    margin-bottom: 1em;
    text-align: left;
}
.submit-form {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 6;
    text-align: center;
}
.foot {
    justify-items: center;
}