.nav-grid {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    border-bottom: #8a8a8a;
    border-top: #ea609e;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    border-width: 1px;
    background-color: #e6e6e6;
    background-image: linear-gradient(to bottom, #ea609e,#0cbab9);
}
.toolbar-align {
    padding-right: 2em;
}
.logo {
    align-self: center;
}
.left-column {
    grid-column: 1;
    justify-self: flex-start;
    align-self: flex-start;
    width: 100%;
}
.middle-column {
    grid-column: 2;
    width: 100%;
}
.right-column {
    grid-column: 4;
    justify-self: self-end;
    align-self: center;
    width: 100%;
}
.link-column {
    grid-column: 5;
    justify-self: flex-end;
    align-self: center;
    width: 50%;

}