.main-services {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.container-services {
    grid-column-start: 2;
    grid-column-end: 5;
    border: 5px,dotted,blue;
}
.content-services {
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 5;
    border-style: solid;
    margin-top: 1em;
    border-radius: 10px;
    border-width: 2px;
    border-color: grey;
}